header {
  --logomark-height: 3em;
  --logomark-padding: 0 1em;

  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-repeat: repeat-x;
  background-position: 0 -38px, 17px -40px;
  color: var(--color-primary-alt);
  text-align: center;
  background-color: #000;
  background-image: repeating-linear-gradient(
    -45deg, transparent, transparent 35px, 
    rgba(255,255,255) 35px, 
    rgba(255,255,255) 70px);

  h1 {
    @include logomark;
    background-color: #fff;
  }

  h2 {
    max-width: 30ch;
    color: var(--color-primary);
  }
}
